body{
    background-image: linear-gradient(to top, #17072b, #280732);
    margin: 0;
    padding: 0;
}

h1{
    display: inline-block;
    margin: 0px;
    padding: 10px;
}

#topnav {
    font-family: Helvetica, sans-serif;
    color: white;
    align-items: center;

    display: flex;
    background-color: #280732;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    width: 100vw;
    height: fit-content;
    padding: 10px;

    position: fixed;
    z-index: 1030;;
}